// Specific CSS for your home-page
.container {
  max-width: 500px;
  margin: 0px auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
}


h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}