<h1>Do more with less!</h1>
<i><h3>Faça mais com menos!</h3></i>
<hr>
<p>
Este app foi surgiu como forma de auxiliar os operadores do SIAPENET quanto 
processos repetitivos e manuais. A proposta é executa-los de forma robótica 
e automatizada <%= link_to "(RPA)", "https://en.wikipedia.org/wiki/Robotic_process_automation" %>.
</p>

